/* ===== common css style start ===== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
ul , ol , menu{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
/* ===== common css style end ===== */

/* ===== navbar css style start ===== */
#navbar{
    position: absolute;
    width: 100%;
}
.navbar-nav{
    gap: 40px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0.3px;
    color: #fff;
}
.nav-item .nav-link i{
    font-size: 12px;
}
.navIcon{
    display: flex;
    gap: 16px;
    align-items: center;
}
.navIcon i{
    color: #fff;
}
/* ===== navbar css style end ===== */

/* ===== banner css style start ===== */
#banner{
    background-color: #004F44;
    padding: 200px 0 94px;
}
.bannerContent{
    margin-top: 40px;
}
.bannerContent h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 1.5px;
    color: #EFF7F5;
    margin-bottom: 32px;
}
.bannerContent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #EFF7F5;
    margin-bottom: 32px;
}
.bannerBtn{
    display: flex;
    align-items: center;
    gap: 36px;
}
.bannerBtn a{
    background-color: #EFF7F5;
    padding: 19px 41px;
    color: #004F44;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0.2px;
    transition: .5s;
}
.bannerBtn a i{
    padding-left: 8px;
    transition: .5s;
}
.bannerBtn a:hover{
    background-color: transparent;
    color: #EFF7F5;
}
.bannerImgBoxWrapper{
    margin-left: 136px;
    display: flex;
    gap: 5px;
}
.bannerImgBoxFlex{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}
.bannerImgBox2{
    position: relative;
   
}
.bannerImgBox2 img{
    position: relative;
    z-index: 10;
}
.bannerbgImg{
    position: absolute;
    left: -39px;
    bottom: -30px;
    z-index: 1;
}
/* .bannerImgBox{
    border: 1px solid white;
} */
/* .bannerImgBox img{
    width: 100%;
    height: 100%;
} */

.bannerImgBox2{
    text-align: right;
    /* border: 1px solid white; */
}
/* ===== banner css style end ===== */